
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
}
body {
  width: 100%;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* header - navbar */

#header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 50px 70px;
  background: #fff;
}
#header h1{
  font-weight: 700;
  color: #0073b1;
}

/* bienvenida */
#bienvenida{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 352px;
  height: 288px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  padding: 24px;
  border-radius: 8px;
  font-size: 15px;
}
#bienvenida h2{
  padding-top: 30px;
}
#bienvenida h4{
  padding-top: 60px;
}
.btn-select{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding-top: 20px;
}
.btn-select li{
  list-style: none;
  padding: 10px 30px;
  font-weight: 700;
  border-radius: 40px;
  text-align: center;
  background: #0073b1;
}

/* login */
#login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 352px;
    box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
    padding: 24px;
    border-radius: 8px;
}
#login-container h1{
    padding-bottom: 10px 30px;
    display: flex;
    flex-wrap: wrap;
}
.form{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: 100%;
}
.input{
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #666666;
}
.link{
  text-decoration: none;
  padding: 10px;
}
.btn-login{
    padding: 15px;
    width: 100%;
    border: none;
    background-color: #0073b1;
    color: white;
    border-radius: 50px;

}
.btn-login:hover{
    background-color: #004182;
    cursor: pointer;
}
.btn-r{
  margin-bottom: 55.1px;
}
